@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,500;1,500&family=Elsie+Swash+Caps&display=swap");
@font-face {
  font-family: "Rockybilly";
  src: url("/assets/fonts/Rockybilly.ttf") format("truetype");
}

:root {
  --md-sys-color-primary: rgb(105, 95, 0);
  --md-sys-color-surface-tint: rgb(105, 95, 0);
  --md-sys-color-on-primary: rgb(255, 255, 255);
  --md-sys-color-primary-container: rgb(253, 232, 13);
  --md-sys-color-on-primary-container: rgb(82, 75, 0);
  --md-sys-color-secondary: rgb(104, 95, 18);
  --md-sys-color-on-secondary: rgb(255, 255, 255);
  --md-sys-color-secondary-container: rgb(245, 233, 142);
  --md-sys-color-on-secondary-container: rgb(83, 75, 0);
  --md-sys-color-tertiary: rgb(73, 104, 0);
  --md-sys-color-on-tertiary: rgb(255, 255, 255);
  --md-sys-color-tertiary-container: rgb(194, 248, 90);
  --md-sys-color-on-tertiary-container: rgb(57, 82, 0);
  --md-sys-color-error: rgb(186, 26, 26);
  --md-sys-color-on-error: rgb(255, 255, 255);
  --md-sys-color-error-container: rgb(255, 218, 214);
  --md-sys-color-on-error-container: rgb(65, 0, 2);
  --md-sys-color-background: rgb(255, 249, 231);
  --md-sys-color-on-background: rgb(30, 28, 16);
  --md-sys-color-surface: rgb(255, 249, 231);
  --md-sys-color-on-surface: rgb(30, 28, 16);
  --md-sys-color-surface-variant: rgb(233, 227, 198);
  --md-sys-color-on-surface-variant: rgb(75, 71, 50);
  --md-sys-color-outline: rgb(124, 120, 95);
  --md-sys-color-outline-variant: rgb(205, 199, 171);
  --md-sys-color-shadow: rgb(0, 0, 0);
  --md-sys-color-scrim: rgb(0, 0, 0);
  --md-sys-color-inverse-surface: rgb(51, 49, 35);
  --md-sys-color-inverse-on-surface: rgb(247, 241, 221);
  --md-sys-color-inverse-primary: rgb(219, 201, 0);
  --md-sys-color-primary-fixed: rgb(250, 229, 3);
  --md-sys-color-on-primary-fixed: rgb(32, 28, 0);
  --md-sys-color-primary-fixed-dim: rgb(219, 201, 0);
  --md-sys-color-on-primary-fixed-variant: rgb(79, 72, 0);
  --md-sys-color-secondary-fixed: rgb(241, 229, 138);
  --md-sys-color-on-secondary-fixed: rgb(32, 28, 0);
  --md-sys-color-secondary-fixed-dim: rgb(212, 200, 113);
  --md-sys-color-on-secondary-fixed-variant: rgb(79, 72, 0);
  --md-sys-color-tertiary-fixed: rgb(190, 244, 87);
  --md-sys-color-on-tertiary-fixed: rgb(19, 31, 0);
  --md-sys-color-tertiary-fixed-dim: rgb(163, 215, 60);
  --md-sys-color-on-tertiary-fixed-variant: rgb(54, 78, 0);
  --md-sys-color-surface-dim: rgb(223, 218, 199);
  --md-sys-color-surface-bright: rgb(255, 249, 231);
  --md-sys-color-surface-container-lowest: rgb(255, 255, 255);
  --md-sys-color-surface-container-low: rgb(249, 244, 224);
  --md-sys-color-surface-container: rgb(244, 238, 218);
  --md-sys-color-surface-container-high: rgb(238, 232, 212);
  --md-sys-color-surface-container-highest: rgb(232, 226, 207);
  --md-extended-color-custom-color-color: rgb(0, 81, 147);
  --md-extended-color-custom-color-on-color: rgb(255, 255, 255);
  --md-extended-color-custom-color-color-container: rgb(54, 118, 191);
  --md-extended-color-custom-color-on-color-container: rgb(255, 255, 255);

  font-size: 1rem;
}

* {
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--md-sys-color-background);
  font-size: 1.5em;
}

md-text-button,
md-filled-button,
md-filled-tonal-button,
md-outlined-button,
.search-bar > input {
  font-size: 1em;
  line-height: 1.25em;
}

header {
  display: grid;
  padding: 0 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: var(--md-sys-color-primary-container);
}

.brand-name {
  font-family: "Rockybilly", cursive;
  font-size: 15pt;
}

.nav-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.nav-links > li {
  list-style: none;
  margin: 25px 10px;
}

.right-aligned-content {
  position: absolute;
  right: 20px;
  display: grid;
  grid-template-columns: 1fr 0.75fr;
}

.header-icons {
  margin: 40px 10px;
}

.search-bar {
  margin: 40px 10px;
}

.search-bar > input {
  background-color: var(--md-sys-color-surface-container-high);
  color: var(--md-sys-color-on-surface-variant);
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  outline-color: var(--md-sys-color-on-surface-variant);
  min-width: 300px;
}

.page-title {
  margin-top: 20px;
  padding: 1rem;
  text-align: center;
  color: var(--md-sys-color-on-primary-container);
}

.page-title h1 {
  margin: 0;
  font-family: "Rockybilly", cursive;
  font-size: 20pt;
  font-weight: var(--md-sys-typescale-display-small-weight);
}

.breadcrumbs {
  background-color: var(--md-sys-color-surface-variant);
  padding: 0.5rem 1rem;
  margin: 20px;
}

.breadcrumbs p {
  margin: 0;
  font-family: "Barlow", sans-serif;
  color: var(--md-sys-color-on-surface-variant);
}

.catalog {
  display: flex;
  gap: 1rem;
  margin: 20px;
}

.filter-sidebar {
  width: 25%;
  background-color: var(--md-sys-color-surface);
  padding: 1rem;
  border: 1px solid var(--md-sys-color-outline);
  border-radius: 8px;
}

.filter-sidebar h2 {
  margin-bottom: 1rem;
}

.filter-sidebar .filter-group {
  margin-bottom: 1rem;
}

.filter-sidebar .filter-group h3 {
  margin-bottom: 0.5rem;
}

.filter-sidebar .filter-group label {
  display: block;
  margin: 0.5rem 0;
}

.star-rating {
  font-size: 2em;
  direction: rtl; /* To make stars align from right to left */
  display: inline-block;
}

.stars {
  unicode-bidi: bidi-override;
}

.stars span {
  cursor: pointer;
  color: lightgray;
}

/* The subsequent-sibling combinator (~, a tilde) separates two selectors and matches all instances of the second element that follow the first element (not necessarily immediately) and share the same parent element. */

.stars span:hover,
.stars span:hover ~ span {
  color: var(--md-sys-color-primary-fixed)
}

.stars span.selected,
.stars span.selected ~ span {
  color: var(--md-sys-color-primary-fixed)
}

#price-range {
  min-width: 100%;
}

#price-range-values {
  margin-top: 10px;
  font-size: 1em;
  color: var(--md-sys-color-on-surface-variant);
}

#price-range-values span {
  font-weight: bold;
}

.product-grid {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.product-item {
  background-color: var(--md-sys-color-surface);
  border: 1px solid var(--md-sys-color-outline);
  border-radius: 8px;
  padding: 1rem;
  width: 48%;
  text-align: center;
}

.product-image {
  width: 350px;
  height: auto;
  border-bottom: 1px solid var(--md-sys-color-outline);
  border-radius: 10px;
  margin-bottom: 1rem;
}

.product-item h3 {
  margin: 0.5rem 0;
}

.product-item p {
  margin: 0.5rem 0;
}

.buy-now-btn,
.add-to-cart-btn {
  margin: 0 10px;
}

footer {
  margin-top: 50px;
  background-color: var(--md-sys-color-secondary-container);
  padding: 50px;
  padding-bottom: 10px;
  overflow-x: hidden;
  color: var(--md-sys-color-on-secondary-container)
}

.footer-social {
  position: relative;
  left: 285px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-social img {
  width: 25px;
  color: var(--md-sys-color-on-secondary-container);
}

.copyright {
  display: block;
  text-align: center;
  margin: 40px  0 10px 0;
  font-size: 13pt;
}